# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# Node
node_modules/
dist/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp